* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    background-image: url('pexels-raulling-29326407.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;

}

.left-div p {
    font-size: 30px;
    font-weight: 900;
    color: white;
    font-family: "Pacifico", cursive;
    margin-left: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.list-in-right-div {
    display: inline-flex;
    gap: 30px;
    margin-right: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}


.gallery-text {
    text-align: center;
    justify-items: center;
}

main .gallery-text p{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:  200px;   
}

.main-section {
    display: flex;
}

.all-width {
    width: 500px;
    height: 10rem;
}

.all-width p {
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: italic;
  
}

.footer {

    display: flex;
}

/* .footer section {
    border: 1px solid white;
} */

.third-footer figure {
    display: flex;
}

li {
    color: white;
}

figure {
    display: flex;
    flex-direction: column;
}

td {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    /* padding-right: 20px; */
    padding: 4px;
}

.left-padding {
    padding-left: 50px;
}

.second-footer p{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}

#small {
    font-size: 12px;
    color: grey;
}

#underline {
    text-decoration: underline;
}

.last-line p{
    font-family: "Inter", sans-serif;   
    font-style: italic;
    color: lightgrey;
}